<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>name</key>
			<string>额定线电压(V)</string>
			<key>param</key>
			<string>100</string>
		</dict>
		<dict>
			<key>name</key>
			<string>额定电流(A)</string>
			<key>param</key>
			<string>5</string>
		</dict>
		<dict>
			<key>name</key>
			<string>额定频率(Hz)</string>
			<key>param</key>
			<string>50</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>name</key>
			<string>准备时间(s):</string>
			<key>param</key>
			<string>10</string>
		</dict>
		<dict>
			<key>name</key>
			<string>故障前时间(s):</string>
			<key>param</key>
			<string>1</string>
		</dict>
		<dict>
			<key>name</key>
			<string>故障时间(s):</string>
			<key>param</key>
			<string>0.2</string>
		</dict>
		<dict>
			<key>name</key>
			<string>各侧平衡系数：</string>
			<key>param</key>
			<string>手动计算并输入</string>
		</dict>
		<dict>
			<key>name</key>
			<string>变压器额定容量(MVA):</string>
			<key>param</key>
			<string>31.5</string>
		</dict>
		<dict>
			<key>name</key>
			<string>高压侧额定电压(kV):</string>
			<key>param</key>
			<string>110</string>
		</dict>
		<dict>
			<key>name</key>
			<string>中压侧额定电压(kV):</string>
			<key>param</key>
			<string>38.5</string>
		</dict>
		<dict>
			<key>name</key>
			<string>低压侧额定电压(kV):</string>
			<key>param</key>
			<string>10.5</string>
		</dict>
		<dict>
			<key>name</key>
			<string>高压侧CT一次值(A):</string>
			<key>param</key>
			<string>300</string>
		</dict>
		<dict>
			<key>name</key>
			<string>中压侧CT一次值(A):</string>
			<key>param</key>
			<string>800</string>
		</dict>
		<dict>
			<key>name</key>
			<string>低压侧CT一次值(A):</string>
			<key>param</key>
			<string>2000</string>
		</dict>
		<dict>
			<key>name</key>
			<string>高压侧CT二次值(A):</string>
			<key>param</key>
			<string>5</string>
		</dict>
		<dict>
			<key>name</key>
			<string>中压侧CT二次值(A):</string>
			<key>param</key>
			<string>5</string>
		</dict>
		<dict>
			<key>name</key>
			<string>低压侧CT二次值(A):</string>
			<key>param</key>
			<string>5</string>
		</dict>
		<dict>
			<key>name</key>
			<string>高压侧差动平衡系数：</string>
			<key>param</key>
			<string>1</string>
		</dict>
		<dict>
			<key>name</key>
			<string>中压侧差动平衡系数：</string>
			<key>param</key>
			<string>0.936</string>
		</dict>
		<dict>
			<key>name</key>
			<string>低压侧差动平衡系数：</string>
			<key>param</key>
			<string>0.6</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>name</key>
			<string>高压侧绕组接线型式：</string>
			<key>param</key>
			<string>Y</string>
		</dict>
		<dict>
			<key>name</key>
			<string>中压侧绕组接线型式：</string>
			<key>param</key>
			<string>▲</string>
		</dict>
		<dict>
			<key>name</key>
			<string>低压侧绕组接线型式：</string>
			<key>param</key>
			<string>▲</string>
		</dict>
		<dict>
			<key>name</key>
			<string>校正选择：</string>
			<key>param</key>
			<string>Y侧校正</string>
		</dict>
		<dict>
			<key>name</key>
			<string>测试绕组：</string>
			<key>param</key>
			<string>高-低</string>
		</dict>
		<dict>
			<key>name</key>
			<string>测试绕组之间角差(钟点数:)</string>
			<key>param</key>
			<string>11点</string>
		</dict>
		<dict>
			<key>name</key>
			<string>平衡系数计算:</string>
			<key>param</key>
			<string>不考虑绕组接线型式</string>
		</dict>
		<dict>
			<key>name</key>
			<string>搜索方法：</string>
			<key>param</key>
			<string>二分法</string>
		</dict>
		<dict>
			<key>name</key>
			<string>CT极性：</string>
			<key>param</key>
			<string>两侧指向变压器</string>
		</dict>
		<dict>
			<key>name</key>
			<string>制动方程：</string>
			<key>param</key>
			<string>Ir=(|I1-I2|)/K1或Ir=(|I1+I2|)/K1</string>
		</dict>
		<dict>
			<key>name</key>
			<string>K1:</string>
			<key>param</key>
			<string>2</string>
		</dict>
		<dict>
			<key>name</key>
			<string>K2:</string>
			<key>param</key>
			<string>1</string>
		</dict>
		<dict>
			<key>name</key>
			<string>测试相：</string>
			<key>param</key>
			<string>A</string>
		</dict>
		<dict>
			<key>name</key>
			<string>测试精度：</string>
			<key>param</key>
			<string>0.01</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ua、Ub、Uc(V):</string>
			<key>param</key>
			<string>57.735</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ua2、Ub2、Uc2(V):</string>
			<key>param</key>
			<string>57.735</string>
		</dict>
	</array>
</array>
</plist>
