<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>定值整定方式</string>
		<key>val</key>
		<string>有名值</string>
	</dict>
	<dict>
		<key>name</key>
		<string>基准电流选择(A)</string>
		<key>val</key>
		<string>高侧额定二次电流</string>
	</dict>
	<dict>
		<key>name</key>
		<string>基准电流(其他)(A)</string>
		<key>val</key>
		<string>5.000</string>
	</dict>
	<dict>
		<key>name</key>
		<string>差动速断电流定值(A)</string>
		<key>val</key>
		<string>6.000</string>
	</dict>
	<dict>
		<key>name</key>
		<string>差动动作电流门槛值(A)</string>
		<key>val</key>
		<string>2.000</string>
	</dict>
	<dict>
		<key>name</key>
		<string>比率制动特性拐点数</string>
		<key>val</key>
		<string>一个拐点</string>
	</dict>
	<dict>
		<key>name</key>
		<string>比率制动特性拐点1电流(A)</string>
		<key>val</key>
		<string>3.000</string>
	</dict>
	<dict>
		<key>name</key>
		<string>比率制动特性拐点2电流(A)</string>
		<key>val</key>
		<string>5.000</string>
	</dict>
	<dict>
		<key>name</key>
		<string>比率制动特性拐点3电流(A)</string>
		<key>val</key>
		<string>7.000</string>
	</dict>
	<dict>
		<key>name</key>
		<string>基波比率制动特性斜率1</string>
		<key>val</key>
		<string>0.000</string>
	</dict>
	<dict>
		<key>name</key>
		<string>基波比率制动特性斜率2</string>
		<key>val</key>
		<string>0.700</string>
	</dict>
	<dict>
		<key>name</key>
		<string>基波比率制动特性斜率3</string>
		<key>val</key>
		<string>0.500</string>
	</dict>
	<dict>
		<key>name</key>
		<string>基波比率制动特性斜率4</string>
		<key>val</key>
		<string>0.300</string>
	</dict>
	<dict>
		<key>name</key>
		<string>二次谐波制动系数</string>
		<key>val</key>
		<string>0.200</string>
	</dict>
	<dict>
		<key>name</key>
		<string>三次谐波制动系数</string>
		<key>val</key>
		<string>0.110</string>
	</dict>
	<dict>
		<key>name</key>
		<string>五次谐波制动系数</string>
		<key>val</key>
		<string>0.110</string>
	</dict>
</array>
</plist>
