<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>titleName</key>
			<string>Ua1</string>
			<key>amplitude</key>
			<string>57.735</string>
			<key>phase</key>
			<string>-0.000</string>
			<key>frequency</key>
			<string>50.000</string>
		</dict>
		<dict>
			<key>titleName</key>
			<string>Ub1</string>
			<key>amplitude</key>
			<string>57.735</string>
			<key>phase</key>
			<string>-120.000</string>
			<key>frequency</key>
			<string>50.000</string>
		</dict>
		<dict>
			<key>titleName</key>
			<string>Uc1</string>
			<key>amplitude</key>
			<string>57.735</string>
			<key>phase</key>
			<string>120.000</string>
			<key>frequency</key>
			<string>50.000</string>
		</dict>
		<dict>
			<key>titleName</key>
			<string>Ua2</string>
			<key>amplitude</key>
			<string>57.735</string>
			<key>phase</key>
			<string>-0.000</string>
			<key>frequency</key>
			<string>50.000</string>
		</dict>
		<dict>
			<key>titleName</key>
			<string>Ub2</string>
			<key>amplitude</key>
			<string>57.735</string>
			<key>phase</key>
			<string>-120.000</string>
			<key>frequency</key>
			<string>50.000</string>
		</dict>
		<dict>
			<key>titleName</key>
			<string>Uc2</string>
			<key>amplitude</key>
			<string>57.735</string>
			<key>phase</key>
			<string>120.000</string>
			<key>frequency</key>
			<string>50.000</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>titleName</key>
			<string>Ia1</string>
			<key>amplitude</key>
			<string>0.000</string>
			<key>phase</key>
			<string>0.000</string>
			<key>frequency</key>
			<string>50.000</string>
		</dict>
		<dict>
			<key>titleName</key>
			<string>Ib1</string>
			<key>amplitude</key>
			<string>0.000</string>
			<key>phase</key>
			<string>0.000</string>
			<key>frequency</key>
			<string>50.000</string>
		</dict>
		<dict>
			<key>titleName</key>
			<string>Ic1</string>
			<key>amplitude</key>
			<string>0.000</string>
			<key>phase</key>
			<string>0.000</string>
			<key>frequency</key>
			<string>50.000</string>
		</dict>
		<dict>
			<key>titleName</key>
			<string>Ia2</string>
			<key>amplitude</key>
			<string>0.000</string>
			<key>phase</key>
			<string>0.000</string>
			<key>frequency</key>
			<string>50.000</string>
		</dict>
		<dict>
			<key>titleName</key>
			<string>Ib2</string>
			<key>amplitude</key>
			<string>0.000</string>
			<key>phase</key>
			<string>0.000</string>
			<key>frequency</key>
			<string>50.000</string>
		</dict>
		<dict>
			<key>titleName</key>
			<string>Ic2</string>
			<key>amplitude</key>
			<string>0.000</string>
			<key>phase</key>
			<string>0.000</string>
			<key>frequency</key>
			<string>50.000</string>
		</dict>
	</array>
</array>
</plist>
